In [5]:
import requests

In [4]:
from bs4 import BeautifulSoup

In [6]:
url ='https://en.wikipedia.org/wiki/List_of_largest_companies_in_the_United_States_by_revenue'
page  = requests.get(url)
soup = BeautifulSoup (page.text, 'html')
#print (soup)

In [7]:
##this finds all table classes
soup.find_all('table')
# this methods will fetch the table we are looking for
soup.find_all('table')[1]
##this is another way to find the particular table details
table = soup.find ('table', class_='wikitable sortable')

In [8]:
#table 
# OR 
#print (table)

In [10]:
world_titles = table.find_all('th') #this extracts all headers via <th> from the table which we selected

In [11]:
title_table = [title. text.strip() for title in world_titles] #strip() removes the \n from all values. And the whole statement is converting the extracted 
#values into list (array of all headers)

In [12]:
title_table

['Rank',
 'Name',
 'Industry',
 'Revenue (USD millions)',
 'Revenue growth',
 'Employees',
 'Headquarters']

In [13]:
import pandas as pd #we got header values above, so to put them as header we need Dataframe. Hence Pandas is imported here.
df = pd.DataFrame(columns = title_table)  # this 
df

Empty DataFrame
Columns: [Rank, Name, Industry, Revenue (USD millions), Revenue growth, Employees, Headquarters]
Index: []

In [14]:
table_data = table.find_all('tr') #finding all Table rows 
#table_data

In [45]:
for row in table_data [1:]: # this will run the loop for table row by row. Row is starting from 1 index, since there is empty [] on 0 index
    row_data = row.find_all('td') # this makes the list 'row_data', extracting data values  
    individual_row_data= [data. text.strip() for data in row_data] 
    #print (individual_row_data)
    length = len(df) 
    df.loc[length]= individual_row_data

#print (individual_row_data)

In [46]:
df

,Rank,Name,Industry,Revenue (USD millions),Revenue growth,Employees,Headquarters
0,1,Walmart,Retail,"611,289",6.7%,"2,100,000","Bentonville, Arkansas"
1,2,Amazon,Retail and cloud computing,"513,983",9.4%,"1,540,000","Seattle, Washington"
2,3,ExxonMobil,Petroleum industry,"413,680",44.8%,"62,000","Spring, Texas"
3,4,Apple,Electronics industry,"394,328",7.8%,"164,000","Cupertino, California"
4,5,UnitedHealth Group,Healthcare,"324,162",12.7%,"400,000","Minnetonka, Minnesota"
...,...,...,...,...,...,...,...
95,96,Best Buy,Retail,"46,298",10.6%,"71,100","Richfield, Minnesota"
96,97,Bristol-Myers Squibb,Pharmaceutical industry,"46,159",0.5%,"34,300","New York City, New York"
97,98,United Airlines,Airline,"44,955",82.5%,"92,795","Chicago, Illinois"
98,99,Thermo Fisher Scientific,Laboratory instruments,"44,915",14.5%,"130,000","Waltham, Massachusetts"
99,100,Qualcomm,Technology,"44,200",31.7%,"51,000","San Diego, California"

In [53]:
df.to_csv(r'<C:\Enter\your\file\pathhere\WebScrappedDatafromWiki.csv>', index= False) #Enter folder location and filename you want to put 
!pip install openpyxl # is required for working with Excel files in Python
df.to_excel('<C:\\Enter your file path here\\WebScrappedDatafromWiki.xlsx', index= False) #Enter folder location and filename you want to put

Collecting openpyxl
  Downloading openpyxl-3.1.2-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-1.1.0-py3-none-any.whl.metadata (1.8 kB)
Downloading openpyxl-3.1.2-py2.py3-none-any.whl (249 kB)
   ---------------------------------------- 0.0/250.0 kB ? eta -:--:--
   ------------------------------------ --- 225.3/250.0 kB 6.7 MB/s eta 0:00:01
   ---------------------------------------- 250.0/250.0 kB 3.1 MB/s eta 0:00:00
Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.2